@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    display: flex;
    justify-content: center;
    margin: 0 ;
    padding: 0 ;
}

.container {
    background-color: #F5F4F7;
    width: 100%;
    max-width: 600px !important;
    margin: 0 ;
    padding: 0 ;
}

.header-bg {
    width: 100%;
}

.logo-toko {
    margin-top: -15%;
}

.title {
    margin-top: 4%;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
}

.subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    color :#AEAEAE;
}

.socmed-col {
    display: flex;
    justify-content: center;
}

.socmed-col a {
    margin:1% 1% 0 1%;
}


.divider {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #C5C5C5;
}

.button-interact {
    background-color: salmon;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 1%;
    margin: 4% 0;
    border-radius: 5px;
}

.button-section a  {
    text-decoration:none;
}

.button-promo-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    transition: all 1s ease;
}

.button-promo {
    background-color: #FBD412;
    border:2px solid #FBD412;
    color: black;
    transition: all .2s ease;
}

.button-promo-link:hover .button-promo {
    background-color: transparent;
    border:2px solid black;
    color: black;
}

.button-website-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.button-website {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: all .2s ease;
}

.button-website-link:hover .button-website {
    background-color: #FBD412;
    border: 1px solid transparent;
    color: black;
}

p {
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    .title {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 4vw;
    }
}